<ul class="unstyled events">
<% _.each(context.fetchLatest, function(e) { %>
  <li>
    <a href='<%= context.eventUrl(e) %>'><%= e.name %></a>
    <br/>
    <%= context.locationLink(e, 'country') %>
    <%= context.locationLink(e, 'region') %>
    <%= context.locationLink(e) %>
    <br/>
    <% _.each(e.eventTags, function(tag) { %>
      <%= context.eventTagLink(tag) %>
    <% }); %>
  </li>
<% }) %>
</ul>
