<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= context.requestLanguage %>"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="<%= context.requestLanguage %>"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="<%= context.requestLanguage %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= context.requestLanguage %>"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= context.pageTitle ? (context.pageTitle+' | Challengerz') : context.translate('mainTitle') %></title>
  <meta name="description" content="<%= context.translate('intro') %>">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="<%= context.staticRoot %>css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="<%= context.staticRoot %>img/favicon.ico">
  <link rel="stylesheet" href="<%= context.staticRoot %>css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="<%= context.staticRoot %>css/main.css">
  <script src="<%= context.staticRoot %>js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <%= context.partial('layout#topMenu') %>

  <div class="container">
    <div class="mainPanel">
      <%= context.body %> 
      <footer>
        <p>&copy; Company 2012</p>
      </footer>
    </div>
  </div>

  <% if( context.midgard.isDevelopment ) { %>
    <%= context.partial('midgard#trace') %>
  <% } %>

  <script src="///ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="<%= context.staticRoot %>js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
  <script src="<%= context.staticRoot %>js/vendor/bootstrap.min.js"></script>

  <script src="<%= context.staticRoot %>js/main.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-37697739-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
